{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<h1>creation d'un article</h1>


	{{  form_start(formArticle) }}

	{{  form_widget(formArticle) }}

	<button type="submit" class=" btn btn-success">

		{% if editMode %}

			Enregistrer

		{% else %}
			Ajouter l' article

		{% endif %}
	</button>

	{{  form_end(formArticle) }}


{% endblock %}
