{% extends 'base.html.twig' %}
{% block body %}
	<h1>Bienvenue sur mon site</h1>

	<p>
		<span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, quis unde consectetur sit ipsa, repellendus itaque veritatis deleniti error asperiores aliquid nihil ducimus dolorem porro minus! Voluptas error expedita hic.</span>
		<span>Numquam dolorem adipisci tempora, itaque quos blanditiis dolorum explicabo sunt voluptas ratione! Earum ullam libero, rem dolor eaque, nam quasi officia dolores repudiandae alias deleniti aspernatur quae eum dolorum nobis.</span>
	</p>

{% endblock %}
